<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>screenWidthInCentimeters</key>
		<real>36</real>
		<key>maxLuminance</key>
		<integer>120</integer>
		<key>eyeArray</key>
		<array>
			<string>OD</string>
			<string>OS</string>
			<string>OU</string>
			<string>-</string>
		</array>
		<key>positionArray</key>
		<array>
			<string>Oz-Fpz</string>
			<string>O1-Fpz</string>
			<string>O2-Fpz</string>
			<string>bip</string>
			<string>DTL</string>
			<string>Skin</string>
		</array>
	</dict>
</array>
</plist>
