<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string>general parameters for all stimageSequences</string>
		<key>combinationRepeatCounterMax</key>
		<integer>2</integer>
		<key>screenEyeDistanceInCentimeter</key>
		<integer>100</integer>
		<key>channel0</key>
		<dict>
			<key>position</key>
			<string>Oz-Fpz</string>
			<key>eye</key>
			<string>OS</string>
		</dict>
		<key>channel1</key>
		<dict>
			<key>position</key>
			<string>O1-Fpz</string>
			<key>eye</key>
			<string>OU</string>
		</dict>
	</dict>
	<dict>
		<key>description</key>
		<string>parameters for stimageSequence 1</string>
		<key>sequenceName</key>
		<string>Pattern Reversal 1°</string>
		<key>sequenceRepeatCounterPre</key>
		<integer>2</integer>
		<key>sequenceRepeatCounterMax</key>
		<integer>10</integer>
		<key>stimageArray</key>
		<array>
			<dict>
				<key>stimageDurationInSec</key>
				<real>0.5</real>
				<key>stimulusType</key>
				<string>checkerboard</string>
				<key>elementSizeInDeg</key>
				<integer>1</integer>
				<key>contrast</key>
				<real>0.98</real>
				<key>meanLuminance</key>
				<real>50.1</real>
				<key>topLeftHasForeColor</key>
				<true/>
			</dict>
			<dict>
				<key>stimageDurationInSec</key>
				<real>0.5</real>
				<key>stimulusType</key>
				<string>checkerboard</string>
				<key>elementSizeInDeg</key>
				<integer>1</integer>
				<key>contrast</key>
				<integer>0</integer>
				<key>meanLuminance</key>
				<real>50.1</real>
				<key>topLeftHasForeColor</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>description</key>
		<string>parameters for stimageSequence 2</string>
		<key>sequenceName</key>
		<string>Pattern Reversal 0.25°</string>
		<key>sequenceRepeatCounterPre</key>
		<integer>2</integer>
		<key>sequenceRepeatCounterMax</key>
		<integer>10</integer>
		<key>stimageArray</key>
		<array>
			<dict>
				<key>stimageDurationInSec</key>
				<real>0.5</real>
				<key>stimulusType</key>
				<string>checkerboard</string>
				<key>elementSizeInDeg</key>
				<real>0.025</real>
				<key>contrast</key>
				<real>0.98</real>
				<key>meanLuminance</key>
				<real>50.1</real>
				<key>topLeftHasForeColor</key>
				<true/>
			</dict>
			<dict>
				<key>stimageDurationInSec</key>
				<real>0.5</real>
				<key>stimulusType</key>
				<string>checkerboard</string>
				<key>elementSizeInDeg</key>
				<real>0.25</real>
				<key>contrast</key>
				<real>0.98</real>
				<key>meanLuminance</key>
				<real>50.1</real>
				<key>topLeftHasForeColor</key>
				<false/>
			</dict>
		</array>
	</dict>
</array>
</plist>
